.class-order {
    margin: 20px;
    height: calc(100% - 50px); 
    overflow-y: auto;
}

.fixed-footer {
    background-color: #332c3d; 
    padding: 10px 20px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: absolute; 
    bottom: 0; 
    left: 0;
    right: 0;
    height: 30px; 
    z-index: 10;
}
